.habits{
    background-size: cover;
    background-position: center;
    background-color:aqua;
    pad: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
    text-align: center;
}

.cleanText {
    font-weight: 600;
    color: #72ccf8;
    background-color: #b702a5;
    display: inline-block;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.cleanText:hover {
    transform: scale(1.1) rotate(3deg) translateZ(0);
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF0000;
    color: #00ff95;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    background-image: linear-gradient(to right, #ffffff, #000000);
}

.button:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.gradientHome{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,  #11e8bb 0%,#ff00e1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    overflow: hidden;
}

.home{
    text-align: center;
    background-color: rgba(232, 24, 24, 0.5);
}

.sectionNavbar{
    display: inline-block;
    padding: 15px;
}

.bottom-text{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.header-left{
    text-align: left;
    padding: 20px;
}

.sectionShowcase{
    display: inline-block;
    width: 300px;
    padding: 15px;
}

.textarea-wrap{
    overflow: hidden;
    min-height: 200px;
}

.textarea-wrap > textarea{
    width: 100%;
    resize: none;
}

.todos{
    background-size: cover;
    background-position: center;
    background-color:rgba(193, 131, 131, 0.977);
    pad: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
    text-align: center;
}

.rewards{
    background-size: cover;
    background-position: center;
    background-color:rgba(131, 193, 131, 0.977);
    pad: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
    text-align: center;
}

.player{
    background-size: cover;
    background-position: center;
    background-color:rgba(182, 182, 182, 0.977);
    pad: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.container{
    flex-direction: column;
    display: flex;
}

.dailies{
    background-size: cover;
    background-position: center;
    background-color:burlywood;
    pad: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
    text-align: center;
}

.clean-button {
    background-color: #0df347;
    border: none;
    color:black;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
  
.clean-button:hover {
    background-color: #6a6a6a;
}

.clean-button2 {
    background-color:#c81717;
    border: none;
    color:black;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
  
.clean-button2:hover {
    background-color: #6a6a6a;
}